.notification {
    background-color: #d4edda;
    color: #155724;
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
